<div class="overlay">
    <header>
        <a href=".">
            <img class="logo" src="/assets/img/logo.svg" alt="Logo" title="Niklas Kahr">
        </a>
        <nav class="menu">
            <a (click)="onScrollToSkilltree()">My Skills</a>
            <a (click)="onScrollToPortfolio()">Portfolio</a>
            <a (click)="onScrollToAbout()">About me</a>
            <a (click)="onScrollToContact()">Contact</a>
        </nav>
        <div class="hamburger-menu" (click)="openMenuDialog()">
            <div [class.open]="isMenuOpen" class="line line1"></div>
            <div [class.open]="isMenuOpen" class="line line2"></div>
            <div [class.open]="isMenuOpen" class="line line3"></div>
        </div>

    </header>
</div>