<div class="background">
    <footer>
        <div class="footer-section">
            <img class="logo inverted" src="./assets/img/logo.svg" alt="Logo" href="#about-me" title="Niklas Kahr">
            <span class="standard-font poppins">© Niklas Kahr</span>
        </div>
        <div class="footer-section standard-font font-16px">
            <div class="mb-2">
                <img src="./assets/img/github.svg" alt="GitHub">
                <img class="ms" src="./assets/img/email.svg" alt="Email">
                <img class="ms" src="./assets/img/linkedin.svg" alt="LinkedIn">
            </div>
            Legal notice
        </div>
    </footer>
</div>