footer {
    height: 12.5vh;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}

.footer-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.footer-section:last-child {
    align-items: flex-end;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.font-16px {
    font-size: 16px;
}

.footer-section .mb-2 a img {
    position: relative;
    transition: 300ms ease;

    &:hover {
        transform: translateY(-5px);
    }
}

.footer-section:first-child a {
    display: contents;
}

.clickable {
    font-family: 'Overpass', sans-serif; // preloading purposes
    position: relative;
    transition: 100ms;
    cursor: pointer;
    will-change: font-weight, transform;

    &::after {
        position: absolute;
        content: '';
        transform: scaleX(0);
        width: 101%;
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: #FF9900;
        border-radius: 5px;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover {
        font-weight: 700;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.clickable-ready {
    opacity: 1;
    transition: font-weight 100ms, transform 100ms;
}

.legal-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    footer {
        height: unset;
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 50%;
        min-width: 220px;
        align-items: center;

        :last-child {
            justify-content: space-evenly;
        }
    }

    .socials {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .poppins {
        margin-bottom: 1.5rem;
    }

    .ms {
        margin-left: unset;
    }

    .mb-2 {
        margin-bottom: 0.5rem;
    }
}