h2 {
    text-align: start;
    margin-bottom: 4vh;
}

button {
    display: block;
    margin: 2.5rem auto auto;
}

img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
}

.about-container {
    display: flex;
    justify-content: space-between;
    padding: 0 12vw;
    width: 100%;

    &:hover>.portrait>.border {
        visibility: visible;
        animation: fade-in-top-left 0.2s ease;
    }
}

.portrait {
    display: flex;
    position: relative;
    width: 40%;

    .border {
        min-width: unset;
    }
}

.description {
    width: 50%;
}

@media (max-width: 850px) {
    .about-container {
        padding: 0 6vw;
    }
}

@media (max-width: 800px) {
    p {
        margin-block-start: 0
    }

    .about-container {
        flex-direction: column-reverse;
        align-items: center;

        &:hover>.portrait>.border {
            animation: none;
        }
    }

    .description {
        width: unset;
    }

    .portrait {
        width: 60%;
        margin-bottom: 3rem;
    }
}

@media (max-width: 475px) {
    .about-container {
        padding: 0 4vw;
    }
}

@media (max-width: 350px) {
    .portrait {
        width: 75%;
    }
}