h2 {
    text-align: start;
    margin-bottom: 5vh;
}

a {
    display: block;
    width: fit-content;
    margin: 12.5% auto auto;
}

img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
}

.about-container {
    display: flex;
    justify-content: space-between;
    padding: 0 12vw;
    width: 100%;

    &:hover>.portrait>.border {
        visibility: visible;
        animation: fade-in-top-left 0.2s ease;
    }
}

.portrait {
    display: flex;
    position: relative;
    width: 40%;

    .border {
        min-width: unset;
    }
}

.description {
    width: 50%;
}