<h2>About me</h2>
<div class="about-container">
    <div class="description standard-font">
        <p>As a Front-end developer based in Oberwart, Austria, I take great pleasure in collaborating with designers,
            creators, and companies to let their visions become reality. I eagerly anticipate advancing my career
            through a
            junior web developer position.
        </p>
        <p>Should you believe my skills would be a good fit for your projects, don't hesitate to contact me.</p>
        <button (click)="onScrollToContact()" class="button-bright">Let's talk</button>
    </div>
    <div class="portrait">
        <img class="shadow-sm" src="./assets/img/portrait.jpg" alt="Portrait">
        <div class="border"></div>
    </div>
</div>