img {
    width: 128px;
    object-fit: contain;

    &.alternate {
        transform: rotate(-90deg);
    }
}

.transition-container {
    width: 66%;
    height: 18vh;
    min-height: 160px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 600px) {
    img {
        width: 96px;
    }

    .transition-container {
        width: 75%;
    }    
}