h2 {
    text-align: start;
}

p {
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 2em;
}

.background {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    translate: 0px 1px;
}

.polygon-frame {
    height: 18vh;
}

.contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.heading {
    width: 100%;
}

form[ngNativeValidate] {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin: auto 0 4rem 0;

    input,
    textarea {
        width: 100%;
        font-family: 'Overpass';
        font-size: 16px;
        line-height: 120%;
        color: #FFFCF3 !important;
        background-color: black;
        padding: 15px 25px;
        border: none;
        border-bottom: 2px solid #FFFCF3;
    }

    textarea {
        min-height: 154px;
        max-height: 240px;
        min-width: 100%;
        max-width: 135%;
    }

    ::placeholder {
        color: #FFFCF3;
        //opacity: 0.85;
    }

    :-ms-input-placeholder {
        color: #FFFCF3;
    }

    ::-ms-input-placeholder {
        color: #FFFCF3;
    }

    :focus {
        outline: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }

    input[data-autocompleted] {
        background-color: transparent !important;
    }
}

.arrow-link {
    position: absolute;
    right: 0;
    bottom: 7.5%;
}

.arrow {
    transform: rotate(90deg);
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}

.arrow:after {
    position: absolute;
    display: block;
    content: "";
    color: white;
    width: 40px;
    height: 30px;
    top: -1px;
    border-bottom: solid 2px;
    transform: translatex(4px);
}

.arrow:before {
    position: absolute;
    display: block;
    content: "";
    color: white;
    width: 16px;
    height: 16px;
    border-top: solid 2px;
    border-left: solid 2px;
    top: 50%;
    left: 2px;
    transform-origin: 0% 0%;
    transform: rotatez(-45deg);

}

.arrow:hover:before {
    animation: arrow-animation-1 1.4s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.1s;
}

.arrow:hover:after {
    animation: arrow-animation-2 1.4s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.1s;
}

.orange {
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    color: #FF9900;
}

.flex {
    display: flex;
}

@media (max-width: 1300px) {
    form[ngNativeValidate] {
        width: 60%;
    }
}

@media (max-width: 1075px) {
    .orange {
        font-size: 28px
    }
}

@media (max-width: 600px) {
    .background {
        clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0 100%);
    }
}


@media (max-width: 475px) {
    .orange {
        font-size: 22px
    }
}

@media (max-width: 450px) {
    form[ngNativeValidate] {
        margin: auto 0 5rem 0;
    }

    .arrow-link {
        right: unset;
        bottom: 0;
    }
}