<h2 class="negative-tY">My Skills</h2>
<div class="border-gap">
    <table>
        <tr>
            <td><img appScrollAnimation animation="move-upwards" style="animation-delay: 0 !important;"
                    src="../../assets/img/skills/angular.svg" alt="Angular"><br>Angular</td>
            <td><img appScrollAnimation animation="move-upwards" style="animation-delay: 0.25s !important;"
                    src="../../assets/img/skills/typescript.svg" alt="TypeScript"><br>TypeScript</td>
            <td><img appScrollAnimation animation="move-upwards" style="animation-delay: 0.5s !important;"
                    src="../../assets/img/skills/javascript.svg" alt="JavaScript"><br>JavaScript</td>
            <td><img appScrollAnimation animation="move-upwards" style="animation-delay: 0.75s !important;"
                    src="../../assets/img/skills/html.svg" alt="HTML"><br>HTML</td>
            <td><img appScrollAnimation animation="move-upwards" style="animation-delay: 1s !important;"
                    src="../../assets/img/skills/css.svg" alt="CSS"><br>CSS</td>
        </tr>
        <tr>
            <td><img appScrollAnimation animation="move-upwards" style="animation-delay: 1.25s !important;"
                    src="../../assets/img/skills/firebase.svg" alt="Firebase"><br>Firebase</td>
            <td><img appScrollAnimation animation="move-upwards" style="animation-delay: 1.5s !important;"
                    src="../../assets/img/skills/git.svg" alt="Git"><br>Git</td>
            <td><img appScrollAnimation animation="move-upwards" style="animation-delay: 1.75s !important;"
                    src="../../assets/img/skills/scrum.svg" alt="Scrum"><br>Scrum</td>
            <td><img appScrollAnimation animation="move-upwards" style="animation-delay: 2s !important;"
                    src="../../assets/img/skills/api.svg" alt="Rest-API"><br>Rest-API</td>
            <td><img appScrollAnimation animation="move-upwards" style="animation-delay: 2.25s !important;"
                    src="../../assets/img/skills/material_design.svg" alt="Material"><br>Material<br>Design</td>
        </tr>
    </table>
</div>