<h2 class="negative-tY">My Skills</h2>
<div class="border-gap">
        <div class="skills-grid">
                <div class="skill-item"><img [ng-scroll-trigger]="160" appScrollAnimation
                                src="./assets/img/skills/angular.svg" alt="Angular"><br>Angular</div>
                <div class="skill-item"><img [ng-scroll-trigger]="160" appScrollAnimation
                                src="./assets/img/skills/typescript.svg" alt="TypeScript"><br>TypeScript
                </div>
                <div class="skill-item"><img [ng-scroll-trigger]="160" appScrollAnimation
                                src="./assets/img/skills/javascript.svg" alt="JavaScript"><br>JavaScript
                </div>
                <div class="skill-item"><img [ng-scroll-trigger]="160" appScrollAnimation
                                src="./assets/img/skills/html.svg" alt="HTML"><br>HTML</div>
                <div class="skill-item"><img [ng-scroll-trigger]="160" appScrollAnimation
                                src="./assets/img/skills/css.svg" alt="CSS"><br>CSS</div>
                <div class="skill-item"><img [ng-scroll-trigger]="160" appScrollAnimation
                                src="./assets/img/skills/firebase.svg" alt="Firebase"><br>Firebase</div>
                <div class="skill-item"><img [ng-scroll-trigger]="160" appScrollAnimation
                                src="./assets/img/skills/git.svg" alt="Git"><br>Git</div>
                <div class="skill-item"><img [ng-scroll-trigger]="160" appScrollAnimation
                                src="./assets/img/skills/scrum.svg" alt="Scrum"><br>Scrum</div>
                <div class="skill-item"><img [ng-scroll-trigger]="160" appScrollAnimation
                                src="./assets/img/skills/api.svg" alt="Rest-API"><br>RestAPI</div>
                <div class="skill-item"><img [ng-scroll-trigger]="160" appScrollAnimation
                                src="./assets/img/skills/material_design.svg"
                                alt="Material"><br><span>Material<br>Design</span></div>
        </div>
</div>