table {
    width: 100%;
    height: 100%;
    border-spacing: 2em 6em;

    tr {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        img {
            margin-bottom: 6px;
        }

    }

    tr:first-child {
        margin-bottom: 3rem;
    }

    td {
        width: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        line-height: 120%;
        text-align: center;
    }
}

.move-upwards {
    animation-name: move-upwards;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    // animation-delay set in component
}

.border-gap {
    width: calc(100% - 6px);
    position: relative;
    border: 3px solid #000;
    border-top: none;
}

.border-gap::before,
.border-gap::after {
    content: "";
    position: absolute;
    top: 0;
    width: 15vw;
    height: 3px;
    background-color: #000;
}

.border-gap::before {
    left: 0px;
}

.border-gap::after {
    right: 0px;
}

.negative-tY {
    transform: translateY(40%);
}

@keyframes move-upwards {

    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-17.5px);
    }

    20% {
        transform: translateY(-13.5px);
    }

    30% {
        transform: translateY(-17.5px);
    }

    40% {
        transform: translateY(-13.5px);
    }

    50% {
        transform: translateY(-17.5px);
    }

    60% {
        transform: translateY(-13.5px);
    }

    70% {
        transform: translateY(-17.5px);
    }

    80% {
        transform: translateY(-13.5px);
    }

    90% {
        transform: translateY(-22.5px);
    }

    100% {
        transform: translateY(0);
    }
}