app-project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: luminosity;
    opacity: 0.8;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 4.5rem 12vw;

    // margin-bottom: 8rem;
    &.alternate {
        flex-direction: row-reverse;
    }

    &:hover {
        mix-blend-mode: normal;
        opacity: 1;
    }
}

span {
    display: block;
    text-align: center;
    margin-bottom: 7.5vh;
}

.mb-1 {
    margin-bottom: 0.5rem;
}