app-project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

span {
    display: block;
    text-align: center;
    margin-bottom: 7.5vh;
}

.mb-1 {
    margin-bottom: 0.5rem;
}