app-project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    mix-blend-mode: luminosity;
    opacity: 0.8; // Adjust the opacity as needed to achieve the desired effect
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        mix-blend-mode: normal;
        opacity: 1;
        transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

span {
    display: block;
    text-align: center;
    margin-bottom: 7.5vh;
}

.mb-1 {
    margin-bottom: 0.5rem;
}