app-header {
    position: sticky;
    top: 0;
    background-color: #FFFCF3;
    z-index: 1;
}

app-home {
    height: calc(100vh - 7.5vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

app-skilltree {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

app-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

app-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

app-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFCF3;
}

app-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFCF3;
}

app-transition {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.second-transition {
    transform: scaleX(-1);
}

.third-transition {
    margin: 2% 0 -6% 0;
}