app-header {
    height: 7.5vh;
    min-height: 60px;
    display: flex;
}

app-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

app-skilltree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 14.5vh;
}

app-portfolio {
    display: block;
    margin-bottom: 14.5vh;
}