<mat-dialog-content class="custom-dialog">
    <div class="flex">
        <a href=".">
            <img class="logo inverted" src="./assets/img/logo.svg" alt="Logo" title="Niklas Kahr">
        </a>
        <mat-dialog-actions>
            <button mat-button mat-dialog-close class="button-dark">Close</button>
        </mat-dialog-actions>
    </div>
    <div class="main">
        <nav>
            <a mat-dialog-close (click)="onScrollToSkilltree()">My Skills</a>
            <a mat-dialog-close (click)="onScrollToPortfolio()">Portfolio</a>
            <a mat-dialog-close (click)="onScrollToAbout()">About me</a>
            <a mat-dialog-close (click)="onScrollToContact()">Contact</a>
        </nav>
        <div class="contact-section">
            <h3>Say Hello!</h3>
            <div class="social-links">
                <a href="https://github.com/NiklasKahr" title="GitHub" target="_blank">
                    <img src="./assets/img/socials/github.svg" alt="GitHub">
                </a>
                <a href="mailto:niklaskahr01@gmail.com" title="Email">
                    <img src="./assets/img/socials/email.svg" alt="Email">
                </a>
                <a href="https://www.linkedin.com/in/niklaskahr" title="LinkedIn"
                    target="_blank">
                    <img src="./assets/img/socials/linkedin.svg" alt="LinkedIn">
                </a>
            </div>
        </div>
    </div>
</mat-dialog-content>