nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;

    a {
        margin-bottom: 1rem;
    }
}

.mdc-dialog__content {
    font-family: 'Overpass', sans-serif !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    h2 {
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
    }

    ::ng-deep h3 {
        text-align: center;
        line-break: auto !important;
    }
}

.mdc-dialog__title {
    font-family: 'Syne' !important;
}

.mat-mdc-dialog-actions {
    justify-content: flex-end !important;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
}

.flex {
    display: flex;
    justify-content: space-between
}