.mdc-dialog__content {
    font-family: 'Overpass', sans-serif !important;

    h2 {
        font-size: 20px !important;
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
    }
}

.mdc-dialog__title {
    font-family: 'Syne' !important;
}

.mat-mdc-dialog-actions {
    justify-content: flex-end !important;
}