.project-illustration {
    position: relative;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    cursor: pointer;

    &:hover {
        filter: brightness(0.96);
    }

    &:active {
        filter: brightness(0.92);
    }
}

.illustration {
    width: 100%;
}

.arrow {
    position: absolute;
    top: 25%;
    right: -40px;
    transform: rotate(135deg);
    z-index: 1;
    animation: continue-turn-right 0.45s ease-in-out;

    &.alternate-arrow {
        left: -40px;
        animation: continue-turn-left 0.45s ease-in-out;
    }
}

.project-details {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &.alternate-details {
        align-items: unset;
    }
}

.animated-details {
    visibility: hidden;
    animation: fade-out-left 0.4s ease;
    padding-bottom: 1rem;

    &.alternate-animated-details {
        animation: fade-out-right 0.4s ease;
    }
}

.enumeration {
    width: fit-content;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    translate: 0 -35px;
}

.technology {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #FF9900;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

@media (max-width: 1075px) {

    .enumeration {
        font-size: 35px
    }
}

@media (max-width: 950px) {
    .arrow {
        width: 55px;
        right: -29px;
    }
}

@media (max-width: 800px) {
    .enumeration {
        translate: unset;
        position: absolute;
        top: 0;
        right: 6vw;
    }

    .project-illustration {
        width: 85%;
        margin-bottom: 3rem;
    }

    .project-details {
        width: 100%;

        &.alternate-details {
            align-items: flex-end;
        }
    }

    .animated-details {
        visibility: visible;
        animation: none;
        padding-bottom: unset;

        &.alternate-animated-details {
            animation: none;
        }
    }

    .arrow {
        display: none;
    }
}

@media (max-width: 475px) {
    .technology {
        font-size: 20px;
    }

    .enumeration {
        font-size: 27px;
        right: 4vw;
    }
}