<img class="project-illustration" src="./assets/img/projects/sharkie.jpg" alt="Sharkie">
<div class="project-details">
    <span class="enumeration">01/05</span>
    <div>
        <h3 class="title">Sharkie</h3>
        <span class="technologies">JavaScript | HTML | CSS</span>
        <p class="description">A simple Jump ’n’ Run Game based on an objject-oriented approach.
            Help sharkie to find coins and poison bottles to fight against enemies.</p>
        <button>Try it out</button>
    </div>
</div>