
<div class="project-illustration">
    <img class="illustration" [src]="projectData.image" [alt]="projectData.title">
    <div class="border">
        <img class="arrow" src="./assets/img/arrow.svg" alt="Arrow">
    </div>
</div>
<div class="project-details">
    <span class="enumeration">{{ projectData.enumeration }}</span>
    <div class="animated-project-details">
        <h3 class="title">{{ projectData.title }}</h3>
        <span class="technologies">{{ projectData.technologies }}</span>
        <p class="description">{{ projectData.description }}</p>
        <button>Try it out</button>
    </div>
</div>