<div class="project-illustration">
    <img class="illustration" src="./assets/img/projects/sharkie.jpg" alt="Sharkie">
    <div class="border">
        <img class="arrow" src="./assets/img/arrow.svg" alt="Arrow">
    </div>
</div>
<div class="project-details">
    <span class="enumeration">01/04</span>
    <div>
        <h3 class="title">Sharkie</h3>
        <span class="technologies">JavaScript | HTML | CSS</span>
        <p class="description">A simple Jump ’n’ Run Game based on an object-oriented approach.
            Help Sharkie to find coins and poison bottles to fight against enemies.</p>
        <button>Try it out</button>
    </div>
</div>