@import 'src/assets/_keyframe-animations.scss';
@import '~aos/dist/aos.css';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Overpass', sans-serif;
    color: black !important;
    background-color: #FFFCF3;
    background-image: radial-gradient(circle, #F2DFCC 1px, transparent 1px);
    background-size: 7.14vw 7.14vw;
    margin: 0 12vw;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Syne';
    font-weight: 800;
    font-size: 128px;
    line-height: 100%;
    letter-spacing: -0.025em;
    margin-block-start: 0;
    margin-block-end: 0.75rem;
}

h2 {
    font-family: 'Syne';
    font-weight: 800;
    font-size: 78px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.01em;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-family: 'Syne';
    font-weight: 800;
    font-size: 45px;
    line-height: 100%;
    margin-block-start: 0;
    margin-block-end: 1rem;
}

a {
    position: relative;
    height: fit-content;
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    cursor: pointer;
}

app-project {

    // cannot be added anywhere else

    &:hover>.project-illustration>.border {
        visibility: visible;
        animation: fade-in-top-left 0.2s ease;

        &.alternate-border {
            animation: fade-in-top-right 0.2s ease !important;
        }

        .arrow {
            animation: turn-right 0.65s ease-out forwards;

            &.alternate-arrow {
                animation: turn-left 0.65s ease-out forwards !important;
            }
        }
    }

    &:hover>.project-details>.animated-details {
        visibility: visible;
        animation: fade-in-left 0.2s ease;

        &.alternate-animated-details {
            animation: fade-in-right 0.2s ease;
        }
    }
}

.logo {
    object-fit: contain;
    cursor: pointer;
}

.inverted {
    filter: invert(1);
}

.standard-font {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
}

.background {
    width: 100%;
    background-color: black;
    padding: 0 12vw;
}

.border {
    visibility: hidden;
    animation: fade-out-top-left 0.6s ease;
    position: absolute;
    width: 100%;
    //min-width: 475px;
    height: 100%;
    border: 4px solid #000000;
    box-sizing: border-box;
    transform: translate(15px, 15px);

    &.alternate-border {
        animation: fade-out-top-right 0.6s ease;
        transform: translate(-15px, 15px);
    }
}

.button-bright {
    font-family: "Overpass", sans-serif;
    font-size: 23px;
    line-height: 120%;
    padding: 16px 48px;
    border: 4px solid black;
    background-color: transparent;
    cursor: pointer;
    //'transition: all' causes conflicts with other animations
    transition: font-weight 150ms, padding 150ms, filter 150ms, color 150ms, background-color 150ms, box-shadow 150ms;

    &:hover {
        font-weight: 700;
        padding: 16px 68px;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
    }

    &:active {
        font-weight: 400;
        color: #FFFCF3;
        background-color: black;
        padding: 16px 65px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    }
}

.button-dark {
    font-family: "Overpass", sans-serif;
    padding: 16px 48px;
    gap: 10px;
    display: flex;
    color: #FFFCF3;
    border: 4px solid #FFFCF3;
    background-color: transparent;
    transition: 100ms;
    cursor: pointer;

    &:hover {
        padding: 16px 68px;
        font-weight: 700;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
    }

    &:active {
        font-weight: 400;
        color: black;
        background-color: #FFFCF3;
        padding: 16px 65px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
        transition: 150ms;
    }
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.success {
    position: absolute;
    top: 95%;
    color: #72c472;
    margin-block-start: 0;
    margin-block-end: 0;
}

.fade-out-success {
    visibility: hidden;
    animation: fade-out 0.2s ease;
}

.width-100 {
    width: 100%;
}

.m-button {
    margin: 0 1rem 1rem 0;
}

.ms {
    margin-left: 2.5rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

/* scroll bar */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #FF9900 #FFFCF3;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #FFFCF3;
}

*::-webkit-scrollbar-thumb {
    background-color: #FF9900;
    border-radius: 8px;
    border: 3px solid #FFFCF3;
}

@media (max-width: 1380px) {
    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 60px;
    }
}

@media (max-width: 1200px) {
    body {
        background-size: 14.28vw 14.28vw;
    }
}

@media (max-width: 1075px) {
    h1 {
        font-size: 78px;
    }

    h2 {
        font-size: 48px
    }

    h3 {
        font-size: 32px
    }
}

@media (max-width: 850px) {
    body {
        margin: 0 6vw;
        background-size: 21.42vw 21.42vw;
    }

    h1 {
        font-size: 60px;
    }

    .background {
        padding: 0 6vw;
    }
}

@media (max-width: 800px) {
    app-project {
        &:hover>.project-illustration>.border {
            animation: none;

            &.alternate-border {
                animation: none !important;
            }
        }

        &:hover>.project-details>.animated-details {
            animation: none;

            &.alternate-animated-details {
                animation: none;
            }
        }
    }

    .border {
        visibility: visible;
        animation: none;

        &.alternate-border {
            animation: none;
        }
    }
}

@media (max-width: 700px) {
    .button-bright {
        padding: 16px 32px;

        &:hover {
            padding: 16px 52px;
        }

        &:active {
            padding: 16px 49px;
        }
    }

    .button-dark {
        padding: 16px 32px;

        &:hover {
            padding: 16px 52px;
        }

        &:active {
            padding: 16px 49px;
        }
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 48px;
    }

    .cdk-overlay-pane {
        width: 90% !important;
        line-break: anywhere;
        hyphens: auto;
    }
}

@media (max-width: 475px) {
    body {
        margin: 0 4vw;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px
    }

    h3 {
        font-size: 24px
    }

    .standard-font {
        font-size: 20px;
    }

    .background {
        padding: 0 4vw;
    }
}

@media (max-width: 450px) {
    .button-bright {
        padding: 10px 16px;

        &:hover {
            padding: 10px 36px;
        }

        &:active {
            padding: 10px 33px;
        }
    }

    .button-dark {
        padding: 10px 16px;

        &:hover {
            padding: 10px 36px;
        }

        &:active {
            padding: 10px 33px;
        }
    }
}