.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.name-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.line {
    width: 67.5%;
    height: 3px;
    background-color: black;
    margin: 0 1.5rem 12px 0;
}

.name {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.025em;
    color: #FF9900;
}

.home-font {
    font-size: 23px;
    font-weight: 300;
    letter-spacing: -0.025em;
    line-height: 100%;
}

.reference-container {
    width: 100%;
    height: calc(45% - 15vh);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15vh;
}

.transform {
    transform: rotate(-90deg) translate(2%, 100%);
    transform-origin: bottom left;
}

@media (max-width: 1380px) {
    .name {
        font-size: 42px;
    }
}

@media (max-width: 1075px) {
    .title-container {
        height: 45%;
    }

    .reference-container {
        height: calc(55% - 15vh)
    }

    .name {
        font-size: 32px;
    }
}

@media (max-width: 850px) {
    .line {
        margin: 0 1rem 12px 0;
    }

    .name {
        font-size: 24px;
    }

    .home-font {
        font-size: 20px;
    }
}

@media (max-width: 675px) {
    .reference-container {
        height: calc(55% - 12.5vh);
        margin-bottom: 12.5vh;
    }
}

@media (max-width: 575px) {
    .title-container {
        height: 35%;
    }

    .reference-container {
        height: calc(65% - 12.5vh - 7.5vh);
        padding-bottom: 7.5vh;
    }

    .line {
        width: 62.5%;
    }
}

@media (max-width: 475px) {
    .line {
        width: 40%;
        margin: 0 0.75rem 12px 0;
    }

    .home-font {
        font-size: 18px;
    }
}